@charset "UTF-8";

div{max-width: 960px;
    margin: 0 auto;
    background-color:#eeeeee ;}

    h1{margin: 40px 0 ;
        text-align:center;
        font-size: 40px;
        color: rgb(32, 175, 175);  
        }
 
ul{display: flex;
    gap: 10px;
    justify-content: space-evenly;
    flex-wrap: wrap;
     background-color:rgb(244, 245, 247);
    flex-basis:300px;
    height: 300px;
}

h2{
    font-size: 20px;
    font-weight: bold;
    border-left: 5px solid  rgb(32, 175, 175);
    margin: 10px 0;
    color: rgb(32, 175, 175);
}
li{
    width: 300px;
    font-size: 16px;
    font-weight: lighter;
    color: dimgray;
    text-align:justify;
    line-height:1em;}

@media screen and (max-width: 400px){
    .ul{
        flex-direction: column;
        padding: 0 20px;} 
}
    
