@charset "UTt-8";
/* ==========
共通
==========*/
html {
  scroll-behavior: smooth;
}
body {
  background-image: url(../images/grid@2x.png);
  background-size: 55px;
  background-repeat: repeat;
}
.wrapper {
  max-width: 1000px;
  margin: 0 auto 100px;
  padding: 0 10px;
}
/* ==========
見出し・ボタンパーツ系
==========*/
.heading__h2--center {
  text-align: center;
}
.heading__h2--left {
  border-bottom: 4px solid #231815;
  text-align: left;
}
.heading__h2--en {
  display: block;
  font-size: 62px;
  font-family: "CHAIBCHAIB";
}
.heading__h2--jp {
  display: block;
  font-size: 26px;
}
.heading__h3--center {
  text-align: center;
}
.heading__h3--left {
  border-bottom: 4px solid #231815;
  text-align: left;
}
.heading__h3--en {
  display: block;
  font-size: 38px;
}
.heading__h3--jp {
  display: block;
  font-size: 26px;
}
.view-btn {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
.btn {
  display: block;
  width: 100%;
  height: 70px;
  margin: 0 auto;
  border: 2px solid #231815;
  border-radius: 5px;
  background-color: #ebeb9e;
  font-weight: bold;
  font-size: 26px;
  line-height: 70px;
  text-align: center;
}
.btn:hover {
  background-color: #ffffff;
  font-size: 30px;
}

/* ==========
header
==========*/
.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9997;
  width: 100%;
  padding: 100px 7.6% 20px 2.8%;
  border-bottom: 3px solid #231815;
  background-color: #bcd4b0;

  gap: 50px;
}
.header_nav-list {
  display: flex;

  gap: 77px;
}
.logo {
  width: 437px;
}
.header_nav-item a {
  display: block;
  width: 140px;
  height: 45px;
  border: 2px solid #231815;
  border-radius: 5px;
  background-color: #ffffff;
  text-align: center;
  font-family: "CHAIBCHAIB";
}
.header_nav-item a span {
  display: block;
  font-size: 12px;
  line-height: 1;
}

/* ==========
メインコンテンツ
==========*/
.main-content {
  margin: 0 auto;
  padding: 100px 10px;
  font-size: 30px;
  text-align: center;
}
.mv__inner {
  background-color: #ffffff;
}
.first-section {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  padding: 200px 20px 50px;
}
.event__item {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  gap: 20px;
}
.event__item > a {
  min-width: 130px;
}
.hero-text {
  padding: 55px;
  font-style: normal;
  font-size: 70px;
}

.main-content-text {
  font-size: 23px;
  
}
.text-area {
  height: 100%;
}
.article__text-wrapper {
  height: 100%;
}
.article__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-left: 3%;
  border: 2px solid #231815;
}
.post-area {
  padding: 30px;
  border: 2px solid #231815;
  border-radius: 3px;
  background-color: #cddfed;
}
.main-article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 49%;

  gap: 24px;
}
.main-article h2 {
  text-align: left;
  font-family: "CHAIBCHAIB";
}
.article {
  display: block;
  margin-bottom: 24px;
}


/* ==========
スライドバー
==========*/
#slider-section {
  position: relative;
  border: 2px solid #231815;
  background-color: #efecdb;
}
.text-loop {
  position: relative;
  z-index: 9998;
}
.text-loop__list {
  display: flex;
  justify-content: center;

  gap: 60px;
}
.text-loop__anime {
  display: flex;
  overflow: hidden;
}

.text-loop__anime-text {
  flex-shrink: 0;
  color: #231815;
  font-size: 20px;
  font-family: "alphabet_04";
  white-space: nowrap;
}
.text-loop__anime-text:nth-child(odd) {
  animation: MoveLeft 10s -5s infinite linear;
}

.text-loop__anime-text:nth-child(even) {
  animation: MoveLeft2 10s infinite linear;
}
@font-face {
  font-family: "alphabet_04";
  src: url("../fonts/alpha04.ttf") format("truetype");
}
@keyframes MoveLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes MoveLeft2 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200%);
  }
}
.text-loop__anime-text a {
  padding: 0 10px;
}

/* ==========
works
==========*/
.works {
  padding: 130px 20px;
}
.works__inner {
  max-width: 860px;
  margin: 0 auto;
} 
.works__inner .image {
  display: flex;
  justify-content: space-between;
  margin-bottom: 84px;
}
/*
.works__inner .image img {
  width: 26%;
}*/
.main-content-text {
  margin-bottom: 40px;
  text-align: center;
}

/* ==========
バナー・lp（共通）
==========*/
.works-box {
  padding: 115px 20px;
}

.works-box__inner {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  max-width: 1240px;
  margin: 0 auto;
}

.works-box__image {
  display: flex;
  width: 46%;
}

.works-box__image img {
  display: block;
  flex-grow: 1;
  width: 100%;
  height: auto;

  object-fit: cover;
}

.works-box__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 48%;
  height: auto;
  padding: 50px 0;
}
.works-box__text .text {
  padding: 40px 0;
}

.works-box .view-btn {
  margin: 0;
}
.works-box .btn {
  background-color: #ffffff;
}

.works-box .btn:hover {
  background-color: #231815;
  color: #ffffff;
}

/* ========== バナーカードレイアウト ========== */

.works__card {
  padding: 10px;
  border-radius: 4px;
  
}

.card__image{
  text-align: center;
}

.card__image img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

.card__contents{
  margin-top: 15px;
}

.card__body {
  margin: 0;
  font-size: 0.75rem;
  line-height: 1.5;
}

.card__footer {
  margin-top: 30px;
}

/* ========== バナー ========== */
#banner-area {
  background-color: #bcd4b0;
}

#banner-area .works-box__inner {
  flex-direction: space-around;
}

/* ==========
lp
==========*/
#lp-area {
  margin-bottom: 170px;
  background-color: #f1f1a0;
}

/* ==========
about
==========*/
#profile {
  margin-bottom: 170px;
  background-color: #bcd4b0;
}
.about__inner {
  position: relative;
  max-width: 1240px;
  margin: 0 auto;
  padding: 115px 20px;
}
.about__contents {
  display: flex;
  justify-content: space-around;
  align-items: stretch;

  gap: 40px;
}
.about__text {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  width: 63%;
  padding-top: 30px;
}
.about-self-introduction__text {
  text-align: left;
}
.abot__link-area {
  display: flex;
  justify-content: flex-end;

  gap: 48px;
}
.sns-icon {
  width: 75px;
}
#profile .view-btn {
  margin: 0;
}
#profile .btn {
  background-color: #ffffff;
}
.name > img {
  width: 148px;
}
.name--jp {
  display: block;
  font-weight: bold;
  font-size: 26px;
}

#profile .heading__h2 {
  position: absolute;
  top: -50px;
  border: none;
}

/* ==========
footer
==========*/
.footer_nav {
  padding: 20px;
  border-top: 2px solid #231815;
  border-bottom: 2px solid #231815;
  background-color: #f1f1a0;
}
.footer_nav-list {
  display: flex;
  max-width: 1240px;
  margin: 0 auto;

  gap: 77px;
}
.footer_nav-item:last-child {
  width: auto;
  height: 45px;
  border: none;
  background-color: transparent;
}
.footer_nav-item:last-child img {
  width: auto;
  height: 45px;
}
.footer_nav-item {
  width: 140px;
  height: 45px;
  border: 2px solid #231815;
  border-radius: 5px;
  background-color: #ffffff;
  text-align: center;
}
.footer_nav-item a {
  display: block;
  width: 100%;
  height: 100%;
  font-family: "CHAIBCHAIB";
}
.footer_nav-item a span {
  display: block;
  font-size: 12px;
  line-height: 1;
}

.footer__inner {
  background-color: #bcd4b0;
  text-align: center;
}
.footer__inner .logo {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  padding: 100px 20px;
}
@font-face {
  font-family: "CHAIBCHAIB";
  src: url("../fonts/CHAIB___.TTF") format("truetype");
}