@charset "UTt-8";
/* ==========
共通
==========*/
.wrapper {
  max-width: 1000px;
  margin: 0 auto 100px;
  padding: 0 10px;
}
h2 {
  margin-bottom: 40px;
  text-align: center;
}
h2 img {
  width: auto;
  height: 77px;
}

/* ==========
header
==========*/
.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 9997;
  width: 100%;
}
.header_nav-list {
  display: flex;

  gap: 77px;
}
.logo {
  width: 227px;
}

.header_nav-item {
  color: #ffffff;
  font-weight: bold;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium",
    "游ゴシック", "Yu Gothic", sans-serif;
}
.header_inner {
  padding-right: 7.6%;
  padding-left: 2.8%;
}

.hamburger,
.header_nav-sp {
  display: none;
}

/* ==========
メインコンテンツ
==========*/
main {
  background-image: 
  repeating-linear-gradient(90deg, rgb(170, 170, 170) 0 48px, white 48px 96px),
  repeating-linear-gradient(180deg, rgb(170, 170, 170) 0 48px, black 48px 96px);
background-blend-mode:difference;
}
.main-content {
  margin: 0 auto;
  padding: 100px 10px;
  font-size: 30px;
  text-align: center;
}

.hero-text {
  padding: 55px;
  font-style: normal;
  font-size: 70px;
}

.main-content-text {
  font-size: 23px;
}

/* ==========
about us
==========*/
#about {
  display: flex;
  align-items: center;
}
#about .image {
  width: 50%;
}
#about h2 {
  margin-bottom: 45px;
  text-align: left;
}
#about .image img {
  border-bottom-right-radius: 90px;
}
#about .right {
  width: 50%;
  padding-left: 75px;
}
#about .right .title {
  margin-bottom: 25px;
  font-size: 44px;
  line-height: 1.386;
}
#about .right .text {
  line-height: 1.625;
}

/* ==========
menu
==========*/
#menu ul {
  display: flex;
  justify-content: space-between;
}
#menu li {
  width: 30%;
}
#menu ul img {
  border-top-right-radius: 40px;
}
#menu h3 {
  margin-top: -10px;
  color: #d30202;
  font-size: 32px;
}

#gallery ul {
  display: flex;
}

/* ==========
1100px以下
==========*/
@media screen and (max-width: 1100px) {
  .header_nav {
    display: none;
  }
  .hamburger {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9999;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  .hamburger span {
    position: absolute;
    top: 14px;
    width: 30px;
    height: 2px;
    background-color: #ffffff;
    transition: 0.3s;
  }
  /* 疑似要素 */
  .hamburger span::before {
    position: absolute;
    top: -12px;
    width: 30px;
    height: 2px;
    background-color: #ffffff;
    content: "";
    transition: 0.3s;
  }
  .hamburger span::after {
    position: absolute;
    bottom: -12px;
    width: 30px;
    height: 2px;
    background-color: #ffffff;
    content: "";
    transition: 0.3s;
  }

  .open span {
    background-color: transparent;
  }

  .open span::before {
    top: 0;
    transform: rotate(45deg);
  }
  .open span::after {
    top: 0;
    transform: rotate(-45deg);
  }

  .header_nav-sp {
    position: absolute;
    z-index: 9998;
    width: 100%;
    height: 100vh;
    background-color: #00000096;
  }

  .header_nav-sp .header_nav-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    gap: 20px;
  }
}

/* ==========
767px以下
==========*/
@media screen and (max-width: 767px) {
}

.slick-dots {

  bottom: 10px;}

  .slick-dots li.button:before,
  .slick-dots li.slick-active button:before {
    opacity: .75;
    color: white;
}